img {
    border-radius:15px;
}

.maininner {
    margin-top:80px;
}

#animA {
    animation:animA 0.6s cubic-bezier(0.2,0,0,1)
}

#animB {
    animation:animB 0.7s cubic-bezier(0.2,0,0,1)
}

#animC {
    display:inline-block;
    animation:animC 0.8s cubic-bezier(0.2,0,0,1)
}

#animD {
    animation:animD 0.9s cubic-bezier(0.2,0,0,1)
}

@keyframes animA {
    from{opacity:0; transform:translate(0,-10px)}
    to{}
}

@keyframes animB {
    0%{opacity:0; transform:translate(0,-10px)}
    10%{opacity:0; transform:translate(0,-10px)}
    100%{}
}

@keyframes animC {
    0%{opacity:0; transform:translate(0,-10px)}
    20%{opacity:0; transform:translate(0,-10px)}
    100%{}
}

@keyframes animD {
    0%{opacity:0; transform:translate(0,-10px)}
    30%{opacity:0; transform:translate(0,-10px)}
    100%{}
}

a {
    font-family:sen;
    font-weight:700;
    font-size:50px;
    color:white;
}

.paletterow {
    display:inline-block;
    border-radius:15px;
    margin-bottom:20px;
    overflow:hidden;
    box-shadow:0 5px 20px #00000090;
}

.palettepiece {
    display:inline-block;
    font-family:sen;
    color:white;
    margin:-2px;
    padding:10px;
    width:250px;
}

.palettepiece h1 {
    margin-top:5px;
    margin-bottom:5px;
}

.palettepiece p {
    margin:0;
    margin-bottom:10px;
    font-size:20px;
}

#nav {
    height:65px;
}

@media screen and (orientation: portrait) {
    img {
        width:95%;
        border-radius:10px;
    }

    .paletterow {
        box-shadow:unset;
        border-radius:unset;
        overflow:unset;
    }

    .palettepiece {
        width:45%;
        margin-right:2px;
        margin-left:2px;
        margin-bottom:10px;
        border-radius:15px;
        vertical-align:middle;
        height:150px;
        padding:5px;
        box-shadow:0 5px 20px #00000090;
    }

    .palettepiece p {
        font-size:14.5px;
    }

    @media (min-aspect-ratio: 3/5){
        .palettepiece {
            height:115px;
            width:30%;
            margin-left:1.25%;
            margin-right:1.25%;
        }

        #shrunk {
            width:40%;
        }
    }
}