.fade * {
    animation-delay:3.3s !important;
}

.fade2 * {
    animation-delay:0s !important;
}

#glow {
    display:inline-block;
    font-size:6.7rem;
    font-weight:800;
    margin-top:-10px;
    margin-bottom:-10px;
    text-shadow: 0 0 25px #fdcd2ecc;
    animation:glow 1s infinite cubic-bezier(0.2,0,0.3,1), lightning 0.7s, slideIn2 1.1s cubic-bezier(.32,0,0,1);
}

@keyframes glow {
    0% {text-shadow: 0 0 20px #fdcd2e99;}
    50% {text-shadow: 0 0 30px #fdcd2eaa;}
    100% {text-shadow: 0 0 20px #fdcd2e99;}
}

@keyframes lightning {
    0%{}
    20%{filter:brightness(80%)}
    21%{filter:brightness(250%)}
    45%{filter:brightness(80%)}
    46%{filter:brightness(250%)}
    75%{filter:brightness(80%)}
    76%{filter:brightness(250%)}
    95%{filter:brightness(80%)}
    96%{filter:brightness(250%)}
    100%{}
}

.centerwrap {
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
}

.right {
    text-align:right;
    height:0px;
    width:30%;
    margin-top:-30%;
    margin-left:22%;
    user-select:none;
    -webkit-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none; 
}

.right img {
    border-radius:5%;
    box-shadow: 0 0 30px #00000099
}

.maininner a {
    color:#fdcd2e;
}

.main {
    background-color:#0a121c; 
    animation:mainIn 1s cubic-bezier(0,0,0,1)
}

.inner {
    margin-left:8%;
    width:31%;
    background-color:#131C26;
    padding:15px;
    border-radius:10px;
    box-shadow: 0 0 30px #00000070;
    text-align:left;
    animation:1s slideIn cubic-bezier(.32,0,0,1);
}

.inner span { 
    font-size:1.3rem;
    display:inline-block;
}

#logo {
    transition:0.3s;
    filter:brightness(100%)
}

#logo:hover {
    filter:brightness(500%)
}

/*Used brightness because I thought this would be faster than making the user load
2 different coloured images. I opted to use path fills by dumping the svg logo code
into the HTML one but I couldn't get the image to show. I wish <img> just supported
path fills or if <svg src="images/logo.svg"> was valid. This language sucks...*/

.slideIn {
    animation:1s slideIn cubic-bezier(.32,0,0,1);
}

@keyframes slideIn2 {
    0% {transform:scale(1.5,1.5); opacity:0;}
    10% {transform:scale(1.5,1.5) translate(-50px,0); opacity:0;}
    100% {}
}

.slideIn3 {
    animation:1.2s slideIn3 cubic-bezier(.32,0,0,1);
}

@keyframes slideIn3 {
    0% {transform:translate(-30px,0); opacity:0;}
    20% {transform:translate(-30px,0); opacity:0;}
    100% {}
}

#splashscreen {
    z-index:-200;
    position:fixed;
    display:flex;
    align-items:center;
    margin-left:-150px;
    padding-left:50%;
    padding-right:50%;
    height:100%;
    opacity:0;
    background-color:black;
    animation:splashFade 3.7s !important;
}

@keyframes splashFade {
    0% {opacity:1; z-index:999}
    90% {opacity:1; z-index:999}
    100% {}
}

lottie-player {
    display:inline-block;
}

.profile {
    display:inline-block;
    background-color:#0d1722;
    box-shadow:0 5px 20px #00000090;
    margin:6px;
    margin-top:101px;
    margin-left:10px;
    margin-right:10px;
    border-radius:10px;
    width:330px;
    border:2px solid #0c141e;
    padding-bottom:15px;
    transition:0.3s cubic-bezier(.32,0,0,1);
}

.profile img {
    width:150px;
    margin-top:-84px;
    margin-bottom:-15px;
    border-radius:100%;
    border:5px solid #0a1018;
    transition:0.5s cubic-bezier(.32,0,0,1);
}

.profile:hover {
    transform:translate(0,-5px);
    border-color:#fde82e90;
}

.profile:hover img {
    transform:translate(0,-5px);
    border-color:#fde82e90;
}

#readmore {
    display:none;
    margin-top:-20px;
    margin-bottom:-20px;
    animation:fade 0.5s cubic-bezier(.32,0,0,1);
}

@keyframes fade {
    from{opacity:0; transform:translate(0,10px);}
    to{}
}

#readmore .btn {
    margin-top:10px;
}

#hidable {
    animation:fade 0.5s cubic-bezier(.32,0,0,1);
}

.separator {
    float:left;
    display:inline-block;
    margin-top:97px;
    height:60px;
    width:4px;
    background-color:#ffffff10;
}